// responsive variables

// media queries

$mobile-width: 767px;
$tablet-width: 1023px;
$laptop-width: 1199px;




// colors

$body-bg: #fff;
$body-color: #000;



// fonts

$font-family-default: 'Open Sans', Arial, sans-serif;
$font-family-raleway: 'Raleway', Arial, sans-serif;
$body-line-height: 1.4;

$font-size-html: 14px;
$font-size-default: 1rem;


// container

$container-width: 1177px;
$container-big-width: 1392px;
$container-padding: 0 15px;


// nvabar

$navbar-padding: 40px 12px;

$navbar-padding-xs: 20px 0;


// buttons

$btn-default-bg: #fff;
$btn-subscribe-bg: #b5a263;
