.btn {
    display: inline-block;
    padding: $btn-padding;
    font-size: $btn-fz;
    font-weight: 400;
    line-height: $btn-lh;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: $btn-border;
    border-radius: $btn-radius;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s;

    &:hover,
    &:focus {
        outline: none;
    }
    
    @include tablet {
        padding: $btn--tablet-padding;
        font-size: $btn--tablet-fz;
    }

    &-default {
        color: $btn-default-color;
        border: $btn-default-border;
        background-color: $btn-default-bg;
        &:hover,
        &:focus {
            background-color: darken($btn-default-bg, 15%);
        }
    }

    &-subscribe {
        height: $btn-subscribe-height;
        padding: $btn-subscribe-padding;
        line-height: $btn-subscribe-lh;
        background-color: $btn-subscribe-bg;
        color: $white;
        border-radius: $btn-subscribe-radius;
        width: $btn-subscribe-width;
        &:hover,
        &:focus {
            background-color: darken($btn-subscribe-bg, 15%);
        }
    }
}