.form {
    &-control {
        font-size: $input-fz;
        height: $input-height;
        line-height: $input-lh;
        padding: $input-padding;
        width: $input-width;
        font-weight: 500;
        border: $input-border;
        color: $input-color;
        background-color: $input-bg;
        &::-webkit-input-placeholder {
            color: $input-placeholder;
        }
        &:-ms-input-placeholder {
            color: $input-placeholder;
        }
        &:hover,
        &:focus {
        	outline: none;
        }
    }
    &-group {
        margin-bottom: $form-group-mb;
    }
}

// validate 

.error-text {
	display: none;
}

.has-error {
	.error-text {
		display: block;
	}
	input {
		border: $input-error-border;
		color: $input-error-color;
		&::-webkit-input-placeholder {
            color: $input-error-placeholder;
        }
        &:-ms-input-placeholder {
            color: $input-error-placeholder;
        }
	}
}
