/* thumbnails */

.thumbnail {
	padding: $thumbnail-padding;
	@include tablet {
		padding: $thumbnail--tablet-padding
	}
	&-item {
		float: left;
		width: $thumbnail-item-width;
		padding: $thumbnail-item-padding;
		@include mobile {
			float: none;
			width: $thumbnail-item--mobile-width;
		}
		figure {
			text-align: center;
			margin: 0;
		}
	}

	&-wrapper {
		margin: $thumbnail-wrapper-margin;
	}

	&-social {
		list-style-type: none;
		padding: 0;
		margin: 0;
		padding-top: $thumbnail-social-pt;
		padding-right: $thumbnail-social-pr;
		float: right;
		font-size: 0;
		@include laptop {
			padding-right: $thumbnail-social--laptop-pr;
		}
		@include tablet {
			float: none;
			text-align: center;
			padding-top: $thumbnail-social--tablet-pt;
			padding-right: $thumbnail-social--tablet-pr;
		}
		li {
			display: inline-block;
			vertical-align: middle;
			&:not(:last-child) {
				margin-right: $th-social-item-mr;
			}
			
			a {
				display: block;
				width: $th-social-link-width;
				height: $th-social-link-height;
				font-size: $th-social-link-fz;
				line-height: $th-social-link-lh;
				color: $white;
				background-color: $th-social-link-bg;
				text-decoration: none;
				text-align: center;
				border-radius: 50%;
				transition: background-color 0.3s;
			}
			&:hover {
				a {
					background-color: $th-social-link-hover-bg;
				}
			}
		}
	}


	&-info {
		@include clearfix;
		padding-bottom: $th-info-pb;
	}
	&-name {
		padding-top: $th-name-pt;
		padding-left: $th-name-pl;
		float: left;
		font-family: $font-family-raleway;
		font-size: $th-name-fz;
		font-weight: 500;
		color: $th-name-color;
		text-transform: uppercase;
		@include laptop {
			padding-left: $th-name--laptop-pl;
		}
		@include tablet {
			float: none;
			text-align: center;
			padding-left: $th-name--tablet-pl;
		}
		span {
			display: block;
			font-family: $font-family-default;
			font-size: $th-name-span-fz;
			font-weight: 500;
			color: $th-name-span-color;
			text-transform: none;
		}
	}
}


.slider {
	padding-top: $slider-pt;
	padding-bottom: $slider-pb;
	background-color: $slider-bg;
}

.review {
	&-item {
		text-align: center;
		padding: $review-item-padding;
		figure {
			margin: $review-item-figure-margin;
		}
	}
	&-text {
		font-size: $review-text-fz;
		margin-bottom: $review-text-mb;
	}
	&-name {
		font-weight: 600;
		font-size: $review-name-fz;
		line-height: $review-name-lh;
		color: $review-name-color;
		text-transform: uppercase;
		span {
			display: block;
			font-size: $review-name-span-fz;
			text-transform: none;
			color: $dark;
		}
	}
}

