.top-heading,
h1 {
	position: relative;
	padding: $h1-padding;
	font-size: $h1-font-size;
	font-family: $font-family-raleway;
	font-weight: 700;
	color: $white;
	background-image: url('../images/main-heading-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	letter-spacing: 1px;
	text-transform: uppercase;
	@include tablet {
		padding: $h1-padding-tablet;
		font-size: $h1-font-size-tablet;
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(43, 46, 53, 0.96);
		z-index: -1;
	}
}


.heading-h2,
h2 {
	position: relative;
	font-family: $font-family-raleway;
	font-weight: 600;
	font-size: $h2-font-size;
	color: $h2-color;
	padding-bottom: $h2-padding-bottom;
	margin-bottom: $h2-margin-bottom;
	text-transform: uppercase;
	letter-spacing: 1px;

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		width: 77px;
		left: 50%;
		transform: translate(-50%, 0);
		height: 2px;
		background-color: $h2-after-bg
	}

	&--inverse {
		&:after {
			background-color: $h2-after-bg-inverse;
		}
	}
}

.heading-footer {
	font-size: $heading-footer-font-size;
	line-height: 1.4rem;
	color: $heading-footer-color;
	font-weight: 600;
	margin-bottom: $heading-footer-margin-bottom;
	text-transform: uppercase;
}

.heading-h3,
h3 {
	font-family: $font-family-raleway;
	font-weight: 600;
	font-size: $h3-font-size;
	color: $h3-color;
	margin-bottom: $h3-margin-bottom;
	text-transform: uppercase;
	letter-spacing: 1px;
}